header {
  height: 200px;
  width: 100%;
  background: linear-gradient(130deg, #315f97 20%, #18ffd2 70%);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between !important;
}

h1 {
  display: inline;
  margin-left: 5%;
}
/* start navbar style */
nav {
  margin-right: 5%;
}

nav li {
  list-style-type: none;
  display: inline;
}
nav li a {
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}
/* End navbar style */
/* End header style */
.info {
  margin-top: -100px;
}

form div{
  display: grid;
  margin: 5px;
  padding: 5px;

}
form, form input, select{
  font-size: 1.5em;
  margin-top: 10px;
  
}
select{
  font-size: 1.5em;
}
#gen{
  display: block;
}

.nattionalid{
  display: inline-block;
}
.born{
  display: inline-block;
}
.born input{
  width: 32.5%;
}
.grade{
  display: inline-block;
  width: 100%;
}
.dep{
  display: inline-block;
  width: 100%;
  margin: 5px;
  padding: 5px;
}
